@{
    ViewBag.Title = "title";
}

<h2>Mini Calculadora</h2>

<form method="post">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <input name="num1" required step="0.01" type="number" class="form-control" />
        </div>
        <div class="col-md-1 col-xs-12">
            <select name="op" class="form-control">
                <option>+</option>
                <option>-</option>
                <option>*</option>
                <option>/</option>
            </select>
        </div>
        <div class="col-md-4 col-xs-12">
            <input name="num2" required step="0.01" type="number" class="form-control" />
        </div>
        <div class="col-md-2 col-xs-12">
            <input type="submit" class="btn btn-primary form-control" value="Fazer o cálculo" />
        </div>
    </div>
</form>

@if (!string.IsNullOrEmpty(ViewBag.mensagem))
{
    <div>
        <h4>A operação é: @ViewBag.mensagem</h4>    
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.erro))
{
    <div>
        <h4 class="text-warning">Erro: @ViewBag.erro</h4>
    </div>
}




<div class="row">
    <div class="col-md-4 col-xs-12">
        <label>Resultado</label>
        <input class="form-control" value="@ViewData["resultado"]" />
    </div>
</div>

<script>
    const calcula = () => {
        alert("Olá");
    }
</script>